
 
    
    <form action="" [formGroup]="loginForm">

      <div class="parent">

        <div class="login">

          <label for="">Email:</label>
      <input type="text" placeholder="Enter Your Email" formControlName="email"> <br> <br>
    
        
      <label for="">Password:</label>
      <input type="password" placeholder="Password" formControlName="password"> <br><br>
        
        <button (click)="login()"> Login</button>

        </div>

      </div>

      
</form>


    

  
 



   

    
    
    
    
  



