
<div class="parent">

  <p>Text Area </p>

</div>

<div class="child">

  <div class="input area">

    <textarea [(ngModel)]="textValue" (input)="Input()" maxlength="30" [ngClass]="{'limit-reached': textValue.length >= maxLength}"> {{ textValue.length }}/30
      
      
    </textarea>

  </div>
  
  <div class="limit" *ngIf="textValue.length >= maxLength" class="limit-message">You have reached the limit of 30 characters.</div>
  
  <div class="remaining">{{ remainingCharacters }} characters remaining</div>
  
</div>



  


<!-- <div class="child">

    <input type="number" [(ngModel)]="count" (keyup)="send()">
</div>
</div> -->





<app-sibling2> </app-sibling2>




