<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style> 
    p{
      color: red;
      font-size: xx-large;
      display: flex;
      
    }
    img{
      height: 80%;
      width: 100%;

    }
  </style>
</head>
<body>
  <p> This is my Home page for my Website</p>
  <img src="https://img.freepik.com/free-photo/cartoon-model-residential-home-property_23-2151024223.jpg?t=st=1735837315~exp=1735840915~hmac=31fe38e421d23ff2c0af4965c9edff4d2358ad4d7f801aac9adc6ad5106d22c5&w=826" alt="">
</body>
</html>
